<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>k-center</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/config.js"></script>
</head>
<body>
    <div id="wrapper">
        <h1 id="header">k-center problems on urban street networks</h1>
        <ul id="languages"><li><a href="../en/">en</a></li><li><a href="../de/">de</a></li></ul>
        <div id="body">
            <p>
                k-center bla bla bla.<br />
                Geometric, on graphs, etc...
            </p>
            <noscript>
                This app depends heavily on JavaScript. Please activate JavaScript!
            </noscript>
            <div ng-app="kcenter" ng-controller="KCenterController as controller" ng-cloak id="app">
                <div ng-if="controller.state == 'select'">
                    <span ng-repeat="param in controller.params track by $index">{{ param }}/</span>
                    <select ng-model="controller.param">
                        <option ng-repeat="option in controller.options">{{ option }}</option>
                    </select> <button ng-click="controller.next()">Next</button>
                </div>
                <div ng-if="controller.state == 'waiting'">
                    <img src="img/balls64.gif" alt="Please wait" />
                </div>
                <div ng-if="controller.state == 'view'">
                    <table>
                        <tr><th>Description</th><td>{{ controller.data.description }}</td></tr>
                        <tr><th>Result</th><td><span ng-repeat="p in controller.data.result ">({{ p }}), </span></td></tr>
                        <tr><th>Objective</th><td>{{ controller.data.objective }}</td></tr>
                        <tr>
                            <th>Visualisation</th>
                            <td><img src="{{ controller.computation_server }}{{ controller.data.img }}" /></td>
                        </tr>
                    </table>
                    <button ng-click="controller.restart()">Go back</button>
                </div>
                <div ng-if="controller.state == 'error'">
                    Sorry, but the computation failed. Presumably it timed out.<br />
                    <button ng-click="controller.restart()">Go back</button>
                </div>
                <div id="examples">
                    <ul ng-repeat="task in controller.tasks">
                        <li>
                            <a href="#" ng-click="controller.data = task; controller.state = 'view';" ng-if="task['state'] == 'finished'">{{ task['description'] }}</a>
                            <span ng-if="task['state'] != 'finished'" class="{{ task['state'] }}" title="{{ task['state'] }}">{{ task['description'] }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <h2>The algorithms</h2>
            <p>
                Give short introduction, maybe some notation.
            </p>
            <h3>Gonzalez</h3>
            <p>Fast and simple</p>
            <h3>Brandenberg and Roth</h3>
            <p>More powerfull, etc.</p>
            <h3>Shape</h3>
            <p>
                Explain the idea!
            </p>
        </div>
    </div>
</body>
</html>
